.container-slide{
padding-bottom: 493px;
background-image: url(assets/img/slide.png);
background-repeat: no-repeat;
background-size: 100%;
padding-top: 283px;
display:flex ;
justify-content: center;
align-items: center;
}
.btn-title{
    margin-top: 65px;
}
.container-slide h2{
    font-size: 54px;
    line-height: 60px;
}