<main class="first-home">
    <section class="first-screen">
        <div class="container-screen">
            <div class="screen">
                <h6>🤘 Get free Sounds when you start a trial & 4 months off a Sounds+ annual plan.</h6>
                <button type="button" class="btn-screen">Click here</button>
            </div>
          
        </div>
    </section>
    <section class="banner">
            <div class="container">
                <h1>Step into the
                    producer’s
                    playground</h1>
                <h5>Explore the world’s best sample library and an unmatched marketplace of plugins and DAWs.</h5>
                <button type="button" class="btn btn-lg">
                    Try free
                </button>
            </div>  
    </section>
</main> 
