<footer class="footer">
    <div class="container-footer">
        <div class="menu-wrapper">
            <div class="footer-column">
                <h5 class="footer-title">Skills</h5>
                <nav class="footer-menu">
                    <a href="#">Features</a>
                    <a href="#">Catalog</a>
                </nav>
            </div>
			<div class="footer-column">
                <h5 class="footer-title">Community</h5>
                <nav class="footer-menu">
                    <a href="#">Ableton Live Projects</a>
                    <a href="#">FL Studio Projects</a>
                    <a href="#">Logic Pro X Projects</a>
                    <a href="#">Garageband Projects</a>
                    <a href="#">Remix Contests</a>
					<a href="#">Tiesto's Secrets</a>
                </nav>
            </div>
			<div class="footer-column">
                <h5 class="footer-title">Sounds</h5>
                <nav class="footer-menu">
                    <a href="#">Features</a>
                    <a href="#">Catalog</a>
                    <a href="#">How Jauz Uses Sounds</a>
                    <a href="#">deadmau5's Chimaera</a>
                    <a href="#">KSHMR Vol. 2</a>
                </nav>
            </div>
			<div class="footer-column">
                <h5 class="footer-title">Plugins</h5>
                <nav class="footer-menu">
                    <a href="#">Top VSTs</a>
                    <a href="#">Serum</a>
                    <a href="#">Rent to Own</a>
                    <a href="#">Free Plugins</a>
                    <a href="#">Top Manufacturers</a>
                </nav>
            </div>
            <div class="footer-column">
                <h5 class="footer-title">Beatmaker</h5>
                <nav class="footer-menu">
                    <a href="#">Create Your Own Beat</a>
                    <a href="#">Wakapella</a>
                    <a href="#">Just Blaze</a>
                </nav>
            </div>
            <div class="footer-column">
                <h5 class="footer-title">Blog</h5>
                <nav class="footer-menu">
                    <a href="#">Latest Posts</a>
                    <a href="#">Using Soundtoys Decapitator</a>
                    <a href="#">Mastering 101</a>
                    <a href="#">Producing Future Beats</a>
                    <a href="#">Belonging @ Splice</a>
                </nav>
            </div>
            <div class="footer-column">
                <h5 class="footer-title">Studio</h5>
                <nav class="footer-menu">
                    <a href="#">Features</a>
                    <a href="#">About Splice Studio</a>
                    <a href="#">Managing Your Production Library</a>
                    <a href="#">Collaborating with Baewatch</a>
                </nav>
            </div>
        </div>
        <div class="footer-down">
            <nav>
                <a href="#" class="down-1">© 2022 Splice.com All Rights Reserved</a>
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Jobs</a>
                <a href="#">Contact</a>
                <a href="#">Help</a>
                <img src="assets/img/facebook.png" alt="facebook">
            </nav>
            
        </div>     
    </div>
</footer>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>