<header>
    <div class="container">
        <a href="index.html" class="logo">
            <img src="assets/img/logo.png" class="img-fluid" alt="logo" />
        </a>
        <div class="mobile-container">
            <nav>
                <a href="#">Sounds</a>
                <a href="#">Skills</a>
                <a href="#">Plugins</a>
                <a href="#">Studio</a>
                <a href="#">Community</a>
                <a href="#">Blog</a>
                <a href="#">Pricing</a>
            </nav>
            <button type="button" class="btn">Login</button>
            <button type="button" class="btn">Sign up</button>
        </div>        
    </div>
</header>