<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>What creators are saying about Splice</h2>
        </div>
        <div class="slider-container">
            <div class="swiper default-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/template-1.png" alt="">
                            </div>
                            <p>I can always find what I’m looking for on Splice, whether it’s the exact sound I want or just a bit of inspiration.</p>
                            <h6>Andrew Huang</h6>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/template-2.png" alt="">
                            </div>
                            <p>Finally a way to buy plugins that works. By paying a little at a time, producers can get legit access to the top VSTs.</p>
                            <h6>KSHMR</h6>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/template-3.png" alt="">
                            </div>
                            <p>It’s been fun to dive into Splice’s creator community and explore tools that support my own creative process.</p>
                            <h6>Kesha Lee</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>